# fly.toml app configuration file generated for silver-price-bot-cold-water-8247 on 2026-01-19T10:30:59-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'silver-price-bot-cold-water-8247'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  auto_stop_machines = 'off'
  auto_start_machines = false
  min_machines_running = 1

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
